@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: red;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgb(204, 195, 195);
}

*::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background-color: rgb(73, 70, 70);
}
